<!DOCTYPE html>

<html ng-app="app" style="height:100%;">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ELAN</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="game/game.css">

  <link rel="stylesheet" href="components/startbootstrap-freelancer-1.0.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/startbootstrap-freelancer-1.0.4/css/freelancer.css">

  <!-- Custom Fonts -->
  <link href="components/startbootstrap-freelancer-1.0.4/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


  <style>
    .angular-google-map-container { height: 1000px; }
  </style>

<body ng-controller="mainCtrl as vm" style="height:100%;">


  <nav class="navbar navbar-default" style="width:100%; position:absolute;top:0px; z-index:10; margin:0px;">
    <div class="container-fluid">      
      <div class="navbar-header page-scroll" >
        <a class="navbar-brand" href="#">
          <img style="max-height:200%;max-width:200%; margin-top: -7px;" src="img/Logo.png" alt="ELAN">
        </a>
          <a class="navbar-brand" href="#" style="font-family: lobster">E.L.A.N.</a>
        <!--</div>
        <p class="navbar-text" style="font-family: lobster">E.L.A.N.</p>-->
      </div>
      <div class="navbar-form navbar-right" role="search">
        <input places-auto-complete style="width: 350px"
               class="form-control"
               ng-model="vm.address"
               types="{{types}}"
               on-place-changed="vm.placeChanged()" />
        <button type="button" class="btn btn-default navbar-btn" ng-click="changeView()">A propos</button>

      </div>

    </div><!-- /.container-fluid -->
  </nav>

  <div ng-view style="height: 100%" ></div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->




</body>
<script src="components/startbootstrap-freelancer-1.0.4/js/jquery.js"></script>
<script src="components/startbootstrap-freelancer-1.0.4/js/contact_me.js"></script>
<script src="components/startbootstrap-freelancer-1.0.4/js/jqBootstrapValidation.js"></script>
<script src="components/startbootstrap-freelancer-1.0.4/js/cbpAnimatedHeader.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="components/startbootstrap-freelancer-1.0.4/js/bootstrap.min.js"></script>
<script src="components/startbootstrap-freelancer-1.0.4/js/freelancer.js"></script>



<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>

<script src='node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='node_modules/lodash/lodash.js'></script>
<script src='node_modules/ngmap/build/scripts/ng-map.min.js'></script>
<script src="http://maps.google.com/maps/api/js?libraries=places"></script>

<script src="js/app.js"></script>
<script src="js/controler.js"></script>
<script src="js/directive.js"></script>
<script src="js/services.js"></script>
<script src="js/view.js"></script>

<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

<script src="game/game.js"></script>



<script>
  game.on("defeat", function (level) {
    console.log("defeat");
    console.log(level);
  });

  game.on("victory", function (level) {
    console.log("victory");
    console.log(level);
  });
</script>

</html>
